# Cutting down case-file

**Task 1**: Cut down the Trademark Case-file data using the final company (merged) list. Location of the list: Basecamp Rebranding \Docs & Files\Trademark Rebranding Data Collection \Matched Company List cleaning \ sec_company_list_with_matches_no_duplicates.csv

You can find the trademark casefile data here (the case file data 2018 version)
https://www.uspto.gov/learning-and-resources/electronic-data-products/trademark-case-files-dataset-0
If this work have already done before by Emad, you need to contact him to get the data.

## Notes on inputs

All USPTO information was downloaded as the 2018 version.  
sec_company_list_with_matches_no_duplicates.csv is Emad's cleaned list of company names.

In [1]:
import pandas as pd

In [2]:
case_file_cols = ['serial_no', 'abandon_dt', 'amend_reg_dt','reg_cancel_cd', 'reg_cancel_dt','file_location', 'filing_dt','registration_dt', 'renewal_dt' ]
case_file = pd.read_csv('case_file.csv', usecols=case_file_cols)
print('done reading case_file.csv')

/opt/packages/anaconda/anaconda3-5.1.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,2,7,8,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

done reading case_file.csv

In [3]:
company_names = pd.read_csv('FINAL_COMPANY_LIST_SEC_INFO.csv', usecols=['companyName'])
print('done reading company names')

done reading company names

In [4]:
company_names.head()

                   companyName
0                 'mktg, inc.'
1  1st FRANKLIN FINANCIAL CORP
2                   30Dc, Inc.
3              3D Systems Corp
4                  3Dicon Corp

In [5]:
owner_cols = ['own_addr_1', 'own_addr_city', 'own_entity_cd', 'own_name', 'own_type_cd', 'own_addr_postal', 'own_id', 'serial_no']
owner = pd.read_csv('owner.csv', usecols=owner_cols)

In [6]:
# merge the owner and case_files
owner_and_cases = owner.merge(case_file, on=['serial_no', 'serial_no'])

In [7]:
owner.sample(10)

,own_addr_1,own_addr_city,own_entity_cd,own_name,own_type_cd,own_addr_postal,own_id,serial_no
3155515,NaN,Omaha,1,"POTTER, ROBERT S.",10,68132,3155516,74322792
7789837,7181 East Bronco Drive,Paradise Valley,99,Nick Lowery Youth Foundation,10,85253,7789838,76489335
14398362,Suites 6 & 7,Hermosillo,1,"Inigo Pavlovich, Rafael",10,83280,14398363,85288698
16923232,"10107 Prospect Avenue, #B",Santee,3,"XTERMITE, INC",20,92071,16923233,86329165
6340110,P.O. Box 341511,West Bethesda,16,Harmony Hearth LLC,20,208271511,6340111,75865101
8194018,5585 SILVERADO TRAIL,NAPA,16,"ABERNATHY-HOFFMAN, LLC",20,94558,8194019,76646911
19174940,401 4F Bldg B3 Hekan Industrial Park,Shenzhen,16,"Shenzhen JW Times Trading CO.,Ltd",30,NaN,19174941,87299909
14120730,7722 Freds Folly Dr,Corpus Christi,1,"Woods, Travis",20,78414,14120731,85176613
7870847,8800 E. chaparral Road,Scottsdale,3,"Airlink Mobile, Inc.",10,85250,7870848,76520955
16934263,18275 NORTH 59TH AVENUE,GLENDALE,16,"INDEPENDENT VITAL LIFE, LLC",31,85308,16934264,86333693

In [9]:
# clean a little
company_names['clean_names'] = company_names['companyName'].str.lower()
company_names['clean_names'] = company_names['clean_names'].str.strip()
owner_and_cases['clean_names'] = owner_and_cases['own_name'].str.lower()
owner_and_cases['clean_names'] = owner_and_cases['clean_names'].str.strip()

remove_the_end = r'the$'
remove_the_beg = r'^the'
owner_and_cases['clean_names'] = owner_and_cases['clean_names'].str.replace(remove_the_end, '')
owner_and_cases['clean_names'] = owner_and_cases['clean_names'].str.replace(remove_the_beg, '')

In [11]:
company_names.sample(15)

                        companyName                    clean_names
3250    Sigmatron International Inc    sigmatron international inc
3422            T2 Biosystems, Inc.            t2 biosystems, inc.
566        Blue Hills Bancorp, Inc.       blue hills bancorp, inc.
401                 B&G Foods, Inc.                b&g foods, inc.
1189     EMISPHERE TECHNOLOGIES INC     emisphere technologies inc
2236  MONITRONICS INTERNATIONAL INC  monitronics international inc
1264   Empire State Realty OP, L.P.   empire state realty op, l.p.
2368             Mimedx Group, Inc.             mimedx group, inc.
292                   Anadigics Inc                  anadigics inc
2523              NeuroMetrix, Inc.              neurometrix, inc.
3245           Sifco Industries Inc           sifco industries inc
734                      CYBRA CORP                     cybra corp
2376            Mks Instruments Inc            mks instruments inc
743      Cadence Design Systems Inc     cadence design systems inc
1774   Huntington Bancshares Inc/MD   huntington bancshares inc/md

In [12]:
# merge our company names with theirs
merged_company_names = company_names.merge(owner_and_cases, left_on='clean_names', right_on='clean_names')

In [13]:
len(merged_company_names.index)

126112

In [14]:
merged_company_names.sample(15)

,companyName,clean_names,own_addr_1,own_addr_city,own_entity_cd,own_name,own_type_cd,own_addr_postal,own_id,serial_no,abandon_dt,amend_reg_dt,reg_cancel_cd,reg_cancel_dt,file_location,filing_dt,registration_dt,renewal_dt
42759,"Gannett Co., Inc.","gannett co., inc.",NaN,Arlington,3,"Gannett Co., Inc.",10,22234,2994972,74261745,1994-10-07,NaN,NaN,NaN,FILE REPOSITORY (FRANCONIA),1992-04-02,NaN,NaN
120807,"United Financial Bancorp, Inc.","united financial bancorp, inc.",95 ELM STREET,WEST SPRINGFIELD,3,"UNITED FINANCIAL BANCORP, INC.",31,01089,11854726,78495574,NaN,NaN,2,2017-06-14,TMO LAW OFFICE 111,2004-10-06,2005-12-06,NaN
2329,"AMERICAN MULTI-CINEMA, INC.","american multi-cinema, inc.","One AMC Way, 11500 Ash Street",Leawood,3,"American Multi-Cinema, Inc.",20,66211,19201148,87311509,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2017-01-24,2017-10-10,NaN
13505,Ashland Inc.,ashland inc.,3499 Blazer Parkway,Lexington,3,ASHLAND INC.,10,40512,5269861,75419667,2000-01-27,NaN,NaN,NaN,FILE REPOSITORY (FRANCONIA),1998-01-19,NaN,NaN
116475,Time Warner Inc.,time warner inc.,One Time Warner Center,New York,3,Time Warner Inc.,10,10019,13702961,85007037,NaN,NaN,NaN,NaN,TMO LAW OFFICE 117,2010-04-06,2011-06-07,NaN
124643,YRC Worldwide Inc.,yrc worldwide inc.,10990 Roe Avenue,Overland Park,3,YRC Worldwide Inc.,20,66211,16706698,86240006,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2014-04-02,2015-04-21,NaN
48517,JMP GROUP LLC,jmp group llc,Suite 1100,San Francisco,16,JMP Group LLC,30,741112713,12003831,78559709,NaN,NaN,NaN,NaN,GENERIC WEB UPDATE,2005-02-03,2006-08-01,2016-08-01
18244,Belden Inc.,belden inc.,"1 N. Brentwood Blvd., 15th Floor",St. Louis,3,Belden Inc.,30,63105,15144921,85591071,NaN,NaN,NaN,NaN,TMEG LAW OFFICE 106,2012-04-06,2013-01-15,NaN
9537,Abbott Laboratories,abbott laboratories,100 Abbott Park Road,Abbott Park,3,Abbott Laboratories,30,60064,17095415,86399848,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2014-09-19,2019-05-07,NaN
105029,"SPX FLOW, Inc.","spx flow, inc.",13320 BALLANYTNE CORPORATE PLACE,CHARLOTTE,3,"SPX FLOW, INC.",33,28277,12161803,78626860,NaN,NaN,NaN,NaN,TMEG LAW OFFICE 109,2005-05-10,2009-05-19,NaN
49925,Johnson & Johnson,johnson & johnson,NaN,New Brunswick,3,Johnson & Johnson,30,08903,710291,73248907,NaN,NaN,2,1988-04-01,FILE DESTROYED,1980-02-04,1981-09-15,NaN
82241,NOVARTIS AG,novartis ag,CH 4002,Basel,3,Novartis AG,20,NaN,9686469,77540492,NaN,NaN,NaN,NaN,TMO LAW OFFICE 117,2008-08-06,2010-08-10,NaN
60452,Johnson & Johnson,johnson & johnson,One Johnson & Johnson Plaza,New Brunswick,3,JOHNSON & JOHNSON,10,089337001,14735994,85425950,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2011-09-19,2015-03-17,NaN
26954,"DROPBOX, INC.","dropbox, inc.","185 Berry St., Suite 400",San Francisco,3,"Dropbox, Inc.",10,94107,16308600,86076239,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2013-09-26,2015-04-14,NaN
6831,Abbott Laboratories,abbott laboratories,100 Abbott Park Road,Abbott Park,3,Abbott Laboratories,10,600643500,4250279,75013092,NaN,NaN,2,2004-12-25,FILE REPOSITORY (FRANCONIA),1995-10-31,1998-03-24,NaN

In [15]:
merged_company_names.to_csv('filtered_case_files_all.csv')

At this point, all the information from above (case file information filtered by the owner name) was written to a file as a checkpoint.

# Merging prior marks with case files

In [16]:
prior_mark_cols = ['serial_no', 'prior_no']
prior_mark = pd.read_csv('prior_mark.csv', usecols=prior_mark_cols)
prior_mark = prior_mark.rename(columns = {'prior_no': 'prior_marks'})

In [17]:
merged_all = merged_company_names.merge(prior_mark, on=['serial_no', 'serial_no'], suffixes=('_cf', '_pm'))

In [18]:
merged_all.sample(15)

,companyName,clean_names,own_addr_1,own_addr_city,own_entity_cd,own_name,own_type_cd,own_addr_postal,own_id,serial_no,abandon_dt,amend_reg_dt,reg_cancel_cd,reg_cancel_dt,file_location,filing_dt,registration_dt,renewal_dt,prior_marks
79278,Vanda Pharmaceuticals Inc.,vanda pharmaceuticals inc.,Suite 300E,Washington,3,Vanda Pharmaceuticals Inc.,10,20037,19020088,87230729,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2016-11-08,2017-06-13,NaN,4094002.0
20173,ECOLAB INC.,ecolab inc.,ERC-840,ST. PAUL,3,ECOLAB INC.,41,55102,1039307,73386550,NaN,NaN,NaN,NaN,GENERIC WEB UPDATE,1982-09-20,1984-08-07,2014-08-07,801080.0
23786,Era Group Inc.,era group inc.,600 Airport Service Road,Lake Charles,3,Era Group Inc.,30,70606,14525683,85340321,NaN,NaN,2,2018-11-30,PUBLICATION AND ISSUE SECTION,2011-06-07,2012-04-24,NaN,2305559.0
53883,NOVARTIS AG,novartis ag,CH-4056,Basel,3,Novartis AG,20,NaN,11002492,78123701,NaN,NaN,2,2010-05-29,SCANNING ON DEMAND,2002-04-24,2003-10-21,NaN,2215815.0
51093,"Merck & Co., Inc.","merck & co., inc.",One Merck Drive,Whitehouse Station,3,"MERCK & CO., Inc.",10,088890100,8020452,76578712,2005-09-15,NaN,NaN,NaN,INTENT TO USE SECTION,2004-03-01,NaN,NaN,2438692.0
7467,Ashland Inc.,ashland inc.,3499 Blazer Parkway,Lexington,3,ASHLAND INC.,10,40512,6079807,75752983,NaN,NaN,NaN,NaN,GENERIC WEB UPDATE,1999-07-16,2000-06-27,2010-06-27,1570586.0
44665,"LIFE TIME FITNESS, INC.","life time fitness, inc.",6442 City West Parkway,Eden Prairie,3,"Life Time Fitness, Inc.",30,55344,5954087,75699394,NaN,NaN,2,2007-12-22,SCANNING ON DEMAND,1999-05-07,2001-03-20,NaN,2140172.0
26016,Fifth Third Bancorp,fifth third bancorp,38 FOUNTAIN SQUARE PLAZA,CINCINNATI,3,FIFTH THIRD BANCORP,32,45263,11054855,78148119,NaN,NaN,NaN,NaN,GENERIC WEB UPDATE,2002-07-26,2003-12-09,2013-12-09,1872786.0
44291,"LEARNING TREE INTERNATIONAL, INC.","learning tree international, inc.",1831 Michael Faraday Drive,Reston,3,"LEARNING TREE INTERNATIONAL, INC.",42,20190,1823780,73668070,NaN,NaN,NaN,NaN,GENERIC WEB UPDATE,1987-06-22,1988-01-26,2018-01-26,1124714.0
41257,Johnson & Johnson,johnson & johnson,One Johnson & Johnson Plaza,New Brunswick,3,JOHNSON & JOHNSON,10,089337001,14820381,85459963,2012-10-22,NaN,NaN,NaN,INTENT TO USE SECTION,2011-10-31,NaN,NaN,3874470.0
51737,Morgan Stanley,morgan stanley,1585 Broadway,New York,3,Morgan Stanley,30,10036,14164383,85194145,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2010-12-09,2012-10-30,NaN,2995473.0
34677,Johnson & Johnson,johnson & johnson,NaN,New Brunswick,3,Johnson & Johnson,20,08903,1059846,73394338,NaN,NaN,2,2005-06-25,FILE REPOSITORY (FRANCONIA),1982-09-29,1984-09-18,NaN,999916.0
50150,"Medidata Solutions, Inc.","medidata solutions, inc.",79 Fifth Avenue,New York,3,"Medidata Solutions, Inc.",20,10003,14086384,85162760,NaN,NaN,2,2019-04-12,PUBLICATION AND ISSUE SECTION,2010-10-27,2012-09-11,NaN,2509348.0
28699,"GOOD SAM ENTERPRISES, LLC","good sam enterprises, llc",64 INVERNESS DRIVE EAST,ENGLEWOOD,16,"GOOD SAM ENTERPRISES, LLC",42,80112,2278612,73827978,NaN,NaN,2,2016-01-22,SCANNING ON DEMAND,1989-09-27,1991-09-03,2001-09-03,1471386.0
62559,"Renewable Energy Group, Inc.","renewable energy group, inc.",416 South Bell Ave,Ames,3,"Renewable Energy Group, Inc.",10,50010,18479629,86980284,NaN,NaN,NaN,NaN,PUBLICATION AND ISSUE SECTION,2014-06-27,2016-11-01,NaN,3642051.0

In [19]:
merged_all.to_csv('filtered_cf_pm_all.csv')